.container{
    display: flex;
    border: 1px solid;
    height: 100px;
}
.container-align-item{
    display: flex;
    border: 1px solid;
    height: 100px;
    align-items: flex-end;
}
.A{
    background-color: green;
    padding: 5px;
    color: #fff;
    align-self: center;
}
.B{
    background-color: red;
    padding: 5px;
    color: #fff;
    align-self: flex-start;
}
.C{
    background-color: yellow;
    padding: 5px;
    color: #fff;
    align-self: flex-end;
}
.D{
    background-color: orange;
    padding: 5px;
    color: #fff;
    align-self: unset;
}
.E{
    background-color: brown;
    padding: 5px;
    color: #fff;
    align-self: auto;
}