.container{
    width: 200px;
 background: green;
 background-blend-mode: soft-light;
    height: 200px;
    overflow-y: scroll;
    background-image: url(../../Pictures/istockphoto-1150050227-612x612.jpg);
}